## Spotify **Top 50 songs in 2021** - Dataset analysis

Dataset source: https://www.kaggle.com/datasets/equinxx/spotify-top-50-songs-in-2021

In [1]:

import sqlite3
import pandas as pd

In [2]:
db = sqlite3.connect("SpotifyDataset.db")
cursor = db.cursor()

In [24]:
select_query = "SELECT * FROM SpotifyTop50 LIMIT 5"

result = pd.read_sql_query(select_query, db)
display(result)

,id,artist_name,track_name,track_id,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,1,Olivia Rodrigo,drivers license,5wANPM4fQCJwkGd4rN57mH,92,0.561,0.431,10,-8.810,1,0.0578,0.76800,0.000014,0.1060,0.137,143.875,242013,4
1,2,Lil Nas X,MONTERO (Call Me By Your Name),1SC5rEoYDGUK4NfG82494W,90,0.593,0.503,8,-6.725,0,0.2200,0.29300,0.000000,0.4050,0.710,178.781,137704,4
2,3,The Kid LAROI,STAY (with Justin Bieber),5PjdY0CKGZdEuoNab3yDmX,92,0.591,0.764,1,-5.484,1,0.0483,0.03830,0.000000,0.1030,0.478,169.928,141806,4
3,4,Olivia Rodrigo,good 4 u,4ZtFanR9U6ndgddUvNcjcG,95,0.563,0.664,9,-5.044,1,0.1540,0.33500,0.000000,0.0849,0.688,166.928,178147,4
4,5,Dua Lipa,Levitating (feat. DaBaby),5nujrmhLynf4yMoMtj8AQF,89,0.702,0.825,6,-3.787,0,0.0601,0.00883,0.000000,0.0674,0.915,102.977,203064,4

Column names

In [11]:
select_query = "SELECT * FROM SpotifyTop50 LIMIT 0"

result = pd.read_sql_query(select_query, db)
display(result)

Empty DataFrame
Columns: [id, artist_name, track_name, track_id, popularity, danceability, energy, key, loudness, mode, speechiness, acousticness, instrumentalness, liveness, valence, tempo, duration_ms, time_signature]
Index: []

Top 10 tracks based on popularity

In [18]:
select_query = "SELECT artist_name, track_name, popularity FROM SpotifyTop50 ORDER BY popularity DESC LIMIT 10"

result = pd.read_sql_query(select_query, db)
display(result)

      artist_name                 track_name  popularity
0  Olivia Rodrigo                   good 4 u          95
1      Ed Sheeran                 Bad Habits          95
2        Doja Cat                      Woman          95
3   Glass Animals                 Heat Waves          94
4       Bad Bunny                   Yonaguni          94
5      The Weeknd            Blinding Lights          93
6        Måneskin                    Beggin'          93
7        Doja Cat               Need to Know          93
8  Olivia Rodrigo            drivers license          92
9   The Kid LAROI  STAY (with Justin Bieber)          92

Number of occurrences of every artist in the list

In [23]:
select_query = """SELECT artist_name, COUNT(artist_name) as number_of_occurrences FROM SpotifyTop50 
GROUP BY artist_name 
ORDER BY number_of_occurrences DESC, artist_name"""

result = pd.read_sql_query(select_query, db)
display(result)

          artist_name  number_of_occurrences
0            Doja Cat                      4
1      Olivia Rodrigo                      4
2           Bad Bunny                      3
3       Ariana Grande                      2
4                 BTS                      2
5            Dua Lipa                      2
6           Lil Nas X                      2
7            Måneskin                      2
8       The Kid LAROI                      2
9          The Weeknd                      2
10           24kGoldn                      1
11         Bruno Mars                      1
12    Duncan Laurence                      1
13         Ed Sheeran                      1
14            Farruko                      1
15             Giveon                      1
16      Glass Animals                      1
17       Harry Styles                      1
18     Internet Money                      1
19           J Balvin                      1
20         Joel Corry                      1
21      Justin Bieber                      1
22         Kali Uchis                      1
23      Lewis Capaldi                      1
24    Los Legendarios                      1
25        Masked Wolf                      1
26        Myke Towers                      1
27             Polo G                      1
28     Rauw Alejandro                      1
29              Riton                      1
30                SZA                      1
31    Sebastian Yatra                      1
32         Tate McRae                      1
33  The Neighbourhood                      1
34             Tiësto                      1

Longest and shortest track in the list

In [53]:
select_query = """SELECT artist_name, track_name, ROUND(duration_ms/1000.0, 2) AS duration_min FROM SpotifyTop50
WHERE duration_ms = (SELECT MIN(duration_ms) FROM SpotifyTop50)
OR duration_ms = (SELECT MAX(duration_ms) FROM SpotifyTop50)"""

result = pd.read_sql_query(select_query, db)
display(result)

   artist_name              track_name  duration_min
0  Masked Wolf  Astronaut In The Ocean        132.78
1      Farruko                   Pepas        287.12